.parent{
    border: 1px solid black;
    background-color: burlywood;
    display: grid;
    /* grid-template-rows: 100px 100px 100px 100px 100px;
    grid-template-columns: 100px 200px 400px 100px; */
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 200px 200px 200px 200px 200px;
}

.child{
    background-color: crimson;
    border: 2px solid blue;
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child-2{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}

/* .child-3{
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}

.child-4{
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 6;
}

.child-5{
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
} */

.child-3{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

.child-4{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
    /* One more shorthand property */
    /* Syntax: grid-area: row-start / column-start / row-end / column-end */
    grid-area: 1 / 4 / 2 / 5;
}

.child-5{
    /* grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 6; */
    /* shorthand property */
    /* Syntax: grid-row: start / end; */
    grid-row: 1 / 4;
    /* Syntax: grid-column: start / end; */
    grid-column: 5 / 6;
}